footer{
    margin: 0;
    padding: 1rem 0;
    color: var(--blanc);
    background-color: var(--foncee);
    text-align: center;
    & p{
        margin: 1em 0;
    }
}


@media screen and (min-width: 940px){
    footer{
        @include flex-center;

        & p{
            margin: .4em;
        }
    }
}