main{

    align-items: center;

    & div.header{
        @include flex-center;
        color: var(--blanc);
        background-color: var(--vert);
        & p{
            font-size: 1.3rem;
        }
    }

    & aside.pub-desktop{
        @include flex-center;
        flex-direction: column;
        text-align: center;
        & p{
            color: var(--gris);
            & strong{
                color: var(--foncee);
                font-size: 1.3rem;
                font-weight: 900;
            }
        }
    }

    & article.principal{
        @include flex-center;
        flex-direction: column;
        margin-top: 2em;
        text-justify: center;
        
        & h2{
            letter-spacing: 5px;
            font-size: 3rem;
            font-weight: 200;
            text-align: center;
        }
        & h3{
            margin: 1em 0 .5em 0;
            width: 80vw;
            color: var(--rouge);
            font-size: 1.5rem;
            text-justify:none ;
            align-items: center;
            font-weight: 400;
        }
        & p.arianne{
            color: var(--gris);
            font-size: 1.2rem;
        }
        & p.italique{
            font-style: italic;
            letter-spacing: 2px;
            line-height: 2;
        }
        & p{
            margin: 1em;
        }
        & figure{
            @include flex-center;
            flex-direction: column;
            & figcaption{
                margin-right: auto;
                color: var(--gris);
                font-size: .5rem;
                font-weight: 200;
            }
        }
    }
}

@media screen and (min-width: 700px){

main{
  position: relative;
    & aside{
        position: absolute;
        top: 4rem;
        left: 2rem;
    }
    & article.principal{
        & h2, p.arianne{
            width: 45%;
            margin-left: auto;
            text-align: left;
        }
    
        & h3{
            font-size:2rem;
            width: 80%;
        }

        & p.italique{
            margin-top: 9em;
            width: 70%;
        }

        & p{
            width: 80%;
        }

    }
}

}

@media screen and (min-width: 940px){
    
    main{
        position: relative;
        padding: 2rem 0 0 0;
        & div.header{
            top: 2rem;
            & p{
                margin: 0 auto 0 1rem;
            }
        }
        & aside{
            width: 28%;
            height: 100%;
            & img.auteur{
                margin: 2rem 0 0 0;
            }
            & p{
                margin: 0 0 5rem 0;
            }

            & div.pubs{
                margin: auto 0;
                & img.pub{
                    margin: 5em 0;
                }
            }
        }
        & article.principal{
            width: 70%;
            margin: 0 0 0 auto;
            & h2 {
                margin:  3rem auto 0 auto;
            }
            & p.arianne{
                margin: 0;
            }
            & p.italique{
                margin: 2rem;
            }
        }
    }
}