div.icon-mobile{
    @include flex-center;
    flex-direction: column;
    position: fixed;
    z-index: 101;
    left: .5em;
    top: .5em;
    & img{
        position: relative;
        padding: .3em;
        width: 2.5rem;
        transition: .5s;
    }
}

div.icon-close{
    & img:first-of-type{
        transform:rotateZ(45deg) translateY(.6em);
        transition: .5s;
    }
    & img:last-of-type{
        transform:rotateZ(-45deg) translateY(-.6em);
        transition: .5s;
    }
}


div.menu-open{

    position: fixed;
    z-index: 100;
    height: 100vh;
    background-color: var(--foncee);
    transition: .5s;
    
    & nav{
        display: flex;
        margin-top: 3em;
        
        
        & ul{
            @include liste;
            display: flex;
            flex-direction: column;
            & li{
                & a{
                    @include hyperlien;
                    color: var(--blanc);
                    padding: 1em 1em;
                    
                    &:focus{
                        background-color: var(--rouge);
                    }
                }
            }
        }
    }
    
}
    
 div.menu-close{
    transform: translateX(-200px);
    transition: .5s;
}

@media screen and (min-width: 940px){
    div.icon-mobile{
        display: none;
    }

    div.menu-open, div.menu-close{

        display: flex;
        transform: none;
        height: 6vh;
        width: 100vw;

        & nav{
            display: flex;
            margin: 0;
            width: 100%;
            height: 100%;
            
            & ul{
                @include flex-center;
                display: flex;
                flex-direction: row;
                width: 100%;
                height: 100%;


                & li{
                    @include flex-center;
                    height: 100%;

                    & a{
                        @include flex-center;
                        height: 100%;
                        border-bottom: 3px solid var(--foncee);
                        transition: border-color .2s;
                        &:hover{
                            border-bottom: 3px solid var(--rouge);
                        }
                        &:focus{
                            border-color: var(--rouge);
                        }
                    }

                    & a#focus{
                        background-color: var(--rouge);
                        border-color: var(--rouge);
                    }
                }
            }
        }
    }
}