:root {
    --rouge: #ff6c47;
    --vert: #bac373;
    --foncee: #222222;
    --blanc :#fff;
    --noir :#000;
    --gris: rgb(114, 114, 114);
    --ombre: rgba(0, 0, 0, 0.274);
    --ombre2: rgba(0, 0, 0, 0.3);

}
