:root {
  --rouge: #ff6c47;
  --vert: #bac373;
  --foncee: #222222;
  --blanc:#fff;
  --noir:#000;
  --gris: rgb(114, 114, 114);
  --ombre: rgba(0, 0, 0, 0.274);
  --ombre2: rgba(0, 0, 0, 0.3);
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

div.interface {
  margin: 0;
  padding: 0;
}

footer {
  margin: 0;
  padding: 1rem 0;
  color: var(--blanc);
  background-color: var(--foncee);
  text-align: center;
}

footer p {
  margin: 1em 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  background-image: url("../source/_photos/entete.jpg");
  background-position: center;
  background-size: cover;
}

header section.titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15em auto;
  color: var(--blanc);
  border: 3px solid var(--blanc);
}

header section.titre h1 {
  font-size: 2em;
  font-weight: 400;
  margin: 1rem;
}

header section.titre h1 strong {
  font-family: 'Courgette', cursive;
  font-size: inherit;
}

section.liste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

section.liste article.recette {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em;
  padding: 1rem 0;
  -webkit-box-shadow: 0.2em 0.2em 0.3em var(--ombre);
          box-shadow: 0.2em 0.2em 0.3em var(--ombre);
  border-radius: 3px;
  text-align: center;
  -webkit-transition: .5s;
  transition: .5s;
}

section.liste article.recette h4 {
  margin: 1rem;
  color: var(--foncee);
  font-size: 1.4rem;
  font-weight: 400;
}

section.liste article.recette p {
  margin: 1rem;
}

section.liste article.recette a {
  padding: 1rem;
  border-radius: .8rem;
  color: var(--blanc);
  background-color: var(--vert);
  text-decoration: none;
}

section.liste article.recette a:focus {
  background-color: var(--rouge);
}

section.liste article.recette-selection {
  -webkit-box-shadow: 0.4em 0.4em 0.6em var(--ombre2);
          box-shadow: 0.4em 0.4em 0.6em var(--ombre2);
}

@media screen and (min-width: 800px) {
  article.recette {
    position: relative;
  }
  article.recette img {
    margin: 0 auto 0 1em;
  }
  article.recette h4 {
    position: absolute;
    top: 1em;
    left: 40%;
  }
  article.recette a {
    position: absolute;
    top: 10em;
    left: 40%;
  }
}

div.icon-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  z-index: 101;
  left: .5em;
  top: .5em;
}

div.icon-mobile img {
  position: relative;
  padding: .3em;
  width: 2.5rem;
  -webkit-transition: .5s;
  transition: .5s;
}

div.icon-close img:first-of-type {
  -webkit-transform: rotateZ(45deg) translateY(0.6em);
          transform: rotateZ(45deg) translateY(0.6em);
  -webkit-transition: .5s;
  transition: .5s;
}

div.icon-close img:last-of-type {
  -webkit-transform: rotateZ(-45deg) translateY(-0.6em);
          transform: rotateZ(-45deg) translateY(-0.6em);
  -webkit-transition: .5s;
  transition: .5s;
}

div.menu-open {
  position: fixed;
  z-index: 100;
  height: 100vh;
  background-color: var(--foncee);
  -webkit-transition: .5s;
  transition: .5s;
}

div.menu-open nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3em;
}

div.menu-open nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

div.menu-open nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: var(--noir);
  color: var(--blanc);
  padding: 1em 1em;
}

div.menu-open nav ul li a:focus {
  background-color: var(--rouge);
}

div.menu-close {
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
  -webkit-transition: .5s;
  transition: .5s;
}

main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main div.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--blanc);
  background-color: var(--vert);
}

main div.header p {
  font-size: 1.3rem;
}

main aside.pub-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

main aside.pub-desktop p {
  color: var(--gris);
}

main aside.pub-desktop p strong {
  color: var(--foncee);
  font-size: 1.3rem;
  font-weight: 900;
}

main article.principal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2em;
  text-justify: center;
}

main article.principal h2 {
  letter-spacing: 5px;
  font-size: 3rem;
  font-weight: 200;
  text-align: center;
}

main article.principal h3 {
  margin: 1em 0 .5em 0;
  width: 80vw;
  color: var(--rouge);
  font-size: 1.5rem;
  text-justify: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
}

main article.principal p.arianne {
  color: var(--gris);
  font-size: 1.2rem;
}

main article.principal p.italique {
  font-style: italic;
  letter-spacing: 2px;
  line-height: 2;
}

main article.principal p {
  margin: 1em;
}

main article.principal figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main article.principal figure figcaption {
  margin-right: auto;
  color: var(--gris);
  font-size: .5rem;
  font-weight: 200;
}

@media screen and (min-width: 800px) {
  main {
    position: relative;
  }
  main aside {
    position: absolute;
    top: 4rem;
    left: 2rem;
  }
  main article.principal h2, main article.principal p.arianne {
    width: 50vw;
    margin-left: auto;
    text-align: left;
  }
  main article.principal h3 {
    font-size: 2rem;
    width: 70vw;
  }
  main article.principal p.italique {
    margin-top: 8em;
    width: 85vw;
  }
  main article.principal p {
    width: 70vw;
  }
}
/*# sourceMappingURL=style.css.map */